In [1]:
from starborn import *
%matplotlib qt

In [2]:
points = np.random.rand(10, 2)
df = pd.DataFrame(points, columns=["x", "y"])
df

          x         y
0  0.691801  0.190973
1  0.025841  0.059878
2  0.193236  0.310338
3  0.150866  0.875694
4  0.750602  0.217238
5  0.651684  0.655697
6  0.403299  0.706330
7  0.750175  0.377158
8  0.310195  0.646190
9  0.045010  0.660970

In [3]:
axs=iscatter("x", "y", data=df, signals=points)

10